<div  class="back">
    <div class="table_class">
        <table  class="table_al">
            <tr>
                <td>Username:</td>
                <td>
                    <input  type='text' name='username' [(ngModel)]='username'>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type='text' name='password' [(ngModel)]='password'>
                </td>
            </tr>
            <tr>
                <td>New password:</td>
                <td>
                    <input type='text' name='new_password' [(ngModel)]='new_password'>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button style="background-color: rgb(245, 188, 65);font: bolder; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 500;" (click)="submit()">submit</button>
                </td>
            </tr>
            <tr>
                <td style="color: red;" colspan="2">
                   {{error}}
                </td>
            </tr>
        
        </table>
</div>

</div>
<div class="back_bottom">
<p>
</p>
</div>




