<div class="bck">
    <div class="meni">
        <h4>
            Welcome, organizer!
        </h4>
    </div>
    <div class="login_line_org">
        <img height="35px" src='assets/pass_logo.png'>
        <a style="font-size: 15px; color: white;" routerLink="change-password">change password</a> 
        <img height="35px" src='assets/logout1.jpg'>
        <button style="background:rgb(246, 248, 252); height: 20px; margin-right: 5px; margin-top: 0em; color: rgb(58, 124, 199); border-style: none;" (click)="logout()">logout</button>
    </div>
    <!-- <router-outlet></router-outlet> -->
    <div class='col-sm-12 meni'>
        <a style="color: white;" routerLink="requests">requests for delegates and leaders</a> | 
        <a style="color: white;" routerLink="sports_input">sports and disciplines</a> | 
        <a style="color: white;" routerLink="form_a_competition">competitions</a> |
        <a style="color: white;" routerLink="records"> olympic records</a>
    </div>
</div>
<div class="back_bottomO">
    <p>
    </p>
</div>
