.back_form{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-position: center;
    background-size: 10% 10%;
    padding-bottom: 5em;
    background-image: url(../../assets/one.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.meniO{
    text-align: left;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #396b88;
}
.meniO a{
    color: #396b88;
}

.meniO a:hover{
    color: #396b88;
    font-weight: bold;
}