<div>

    <div>
        <div style="padding-bottom: 10px; padding-top: 0px;" class="login_line_l">
            <img height="35px" src='assets/pass_logo.png'>   
            <a style="font-size: 15px; color: white;" routerLink="change-password">change password</a> 
            <img height="35px" src='assets/logout1.jpg'>
            <button style="background:rgb(246, 248, 252); height: 30px; margin-right: 1em; margin-top: 0em; color: rgb(58, 124, 199); border-style: none;" (click)="logout()">logout</button>    
        </div>
    </div>

    <div class='col-sm-12 meni'>
        <a style="color: white;" routerLink="athletes">Athletes</a> | 
        <a style="color: white;" routerLink="reg-a-comp">Register competitors</a>
        <!-- <a style="color: white;" routerLink="medals">Medals</a> | 
        <a style="color: white;" routerLink="search-athletes">Athletes</a> -->
    </div>
    
    <div class="bck_l">
        <p>

        </p>
    </div>

</div>