<div class="bck">
    <div class="meni">
        <h4>
            All participating countries
        </h4>
    </div>
    <div style="
    background: #a9ccec;
    padding-left: 40%;
    " class="pagination">
        <pagination-controls directionLinks="true" responsive="true" 
        previousLabel="previous" nextLabel="next" maxsize="5" (pageChange)="page = $event" id="country">
        </pagination-controls>
    </div>

    <div style="padding-bottom: 1em; margin-right: 35%; margin-left: 35%; text-align: right;">
        items per page:
        <input type='radio' name='items' [(ngModel)]='itemsPerPage' value="10">10
        <input type='radio' name='items' [(ngModel)]='itemsPerPage' value="20">20
        <input type='radio' name='items' [(ngModel)]='itemsPerPage' value="50">50
        <input type='radio' name='items' [(ngModel)]='itemsPerPage' value="100">100
    </div>
    
    <div class="pag">
        <table>
            <tr>
                <td> </td>
                <td>country</td>
                <td>number of participants</td>
            </tr>
            <tr class="rows" *ngFor="let c of countries | paginate: {
                itemsPerPage:itemsPerPage,
                currentPage:page,
                id: 'country'
            }">
                <td>
                    <img width='100px' height='100px' src='assets/{{c.country}}.jpg'>
                </td>
                <td>{{c.country}}</td>
                <td>{{c.cnt}}</td>
            </tr>
        </table>
    </div>
</div>