<div>
    <div class="login_line">
        <img height="30px" src='assets/login_logo.jpg'>
        &nbsp;
        <a class="login_link" routerLink="login">login</a>
    </div>
    <div class='col-sm-12 meni'>
        <a style="color: white;" routerLink="country">Countries</a> | 
        <a style="color: white;" routerLink="medals">Medals</a> | 
        <a style="color: white;" routerLink="search-athletes">Athletes</a>
    </div>
    <div class="backlogo">
        <div>
          &nbsp;
        </div>
        <div class="logo">
            &nbsp;
        </div>
    </div>
    <div>
        &nbsp;
    </div>
    <div class="plnt">
    </div>
</div>